################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular-phone-book/Angular-phone-book/ClientApp/.angular/cache/13.3.4
